body{
        font-family: "Helvetivca Neue", Helvetica, Arial, sans-serif;
        color: #161616;
        margin: 0 0;
        padding: 0;
    }

	.main-page {
		width: 100%;
		height: 100vh;
		display: grid;
		
		background-color: #161616;
		color: white;
	}

	.center-black h1{
		place-items: center;
		font-style: oblique;
		position: static;
	}

	#titulo {
		background-color: #161616;
		font-size: 8vw;
		margin: 0px 15vw;
		width: 60vw;
	}

	#tachado{
		text-decoration: line-through solid #161616
		}

	header p{
		margin: -1vw 300px;
	}

	.navbar{
		justify-content: space-between;
		list-style: none;
		position: sticky;
	}
	
	.navbar ul li {
		display: inline-block;
		margin: 0px 7vw;
		background-color: #161616;
	}

	header .navbar li:hover{
		transform: scale(1.1);
		transition: 0.5s;
	}

	.navbar ul{
		margin: 20px 0px;
		background-color: #161616;
	}

	.navbar a{
		text-decoration: none;
		font-size: 700;
		color: white
	
	}

	.container{
		margin: 20px 220px;
	}

	.container h2{
		font-size: 3vw;
	}