---
import Layout from "../layouts/Layout.astro";
import SectionInWeb from "../components/SectionInWeb.astro";
import NavBar from "../components/NavBar.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
import AnimatedEmoji from "../components/icons/AnimatedEmoji.astro";
---

<Layout
	title="Porfolio de Eduardo Onishi - Desarrollador FullStack especializado en DevOps"
>
	<NavBar />
	<main class="px-4">
		<SectionInWeb id="home">
			<h1 class="text-9xl py-6">
				<div class="text-4xl">
					 <AnimatedEmoji>Hola! 👋🏻</AnimatedEmoji>,
				</div>
				<strong class="">soy eonishi</strong>
			</h1>
			<h2 class="text-xl text-balance">
				Desarrollador FullStack especializado en <strong>DevOps</strong>. Me encanta
				crear aplicaciones web, las automatización de procesos y la
				infraestructura como código.
			</h2>

			<nav class="flex gap-4 mt-8 flex-wrap">
				<Badge href="/">
					<LinkedInIcon class="size-6" />
					LinkedIn
				</Badge>
				<Badge href="/">
					<GitHubIcon class="size-6" />
					GitHub
				</Badge>
				<Badge href="/">
					<MailIcon class="size-6" />
					eonishi@frba.utn.edu.ar
				</Badge>
			</nav>
		</SectionInWeb>
		<SectionInWeb id="experiencia">
			<h3>
				<strong>Experiencia</strong>
			</h3>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
		</SectionInWeb>
		<SectionInWeb id="proyectos">
			<h3>
				<strong>Proyectos</strong>
			</h3>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
			<div>HOLA</div>
		</SectionInWeb>
	</main>
</Layout>

<style>
	
</style>
