---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
---

<Layout
	title="Porfolio de Eduardo Onishi - Desarrollador FullStack especializado en DevOps"
>
	<header
		class="flex justify-center items-center
    mx-auto
    py-5
    sticky top-0
    w-2/5
    z-20"
	>
		<NavBar />
	</header>

	<main class="px-4">
		<section class="section py-44 pb-32 w-2/5 mx-auto">
			<h1 class="text-9xl py-6">
				<div class="text-4xl">
					Hola <span class="wave">👋🏻</span>,
				</div>
				<strong class="">soy eonishi</strong>
			</h1>
			<h2 class="text-xl text-balance">
				Desarrollador FullStack especializado en DevOps. Me encanta
				crear aplicaciones web, las automatización de procesos y la
				infraestructura como código.
			</h2>
		</section>
	</main>
</Layout>

<style>
	.wave:hover {
		animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
		animation-duration: 2.5s; /* Change to speed up or slow down */
		animation-iteration-count: infinite; /* Never stop waving :) */
		transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
		scale: 1.5;
		transition: all 0.5s ease-in-out;
		display: inline-block;
	}

	@keyframes wave-animation {
		0% {
			transform: rotate(0deg);
		}
		10% {
			transform: rotate(14deg);
		} /* The following five values can be played with to make the waving more or less extreme */
		20% {
			transform: rotate(-8deg);
		}
		30% {
			transform: rotate(14deg);
		}
		40% {
			transform: rotate(-4deg);
		}
		50% {
			transform: rotate(10deg);
		}
		60% {
			transform: rotate(0deg);
		} /* Reset for the last half to pause */
		100% {
			transform: rotate(0deg);
		}
	}
</style>
