---
import CursorFX from "./CursorFX.astro";
---

<div class="
    fixed inset-0 -z-10 h-auto w-full overflow-hidden 
    [background:radial-gradient(125%_125%_at_50%_10%,#132A13_40%,#b5bfa1_100%)]">
	    <CursorFX />
</div>