---
import CursorFX from "../components/CursorFX.astro";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Portfolio de Eduardo Onishi " />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class:"text-satin-100">
		<div
			class="absolute inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#132A13_40%,#b5bfa1_100%)]"
		>
		</div>
		<CursorFX />
		<slot />
	</body>
</html>

<style is:global>
	@font-face {
		font-family: "Givonic Variable";
		src: url("/fonts/GivonicVariable.ttf") format("truetype");
	}
	:root {
		color-scheme: dark light;
	}
	html {
		font-family: "Givonic Variable", system-ui, sans-serif;
	}
	body {
		overflow: hidden;
	}
</style>
